* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#image2 {
  height: 94.8%;
  width: 63%;
  display: inline-block;
  position: absolute;
  z-index: -2;
  margin-left: -56%;
  margin-top: 1.2%;
  animation: animation 0.95s ease-in-out 1 alternate;
}
#image1 {
  position: relative;
  z-index: -3;
  margin-top: 20px;
  height: 900px;
  width: 850px;
}
@keyframes animation {
  0% {
    margin-top: 2.4%;
    margin-left: -65%;
  }
  100% {
    margin-top: 1.2%;
    margin-left: -56%;
  }
}

main {
  width: auto;
  height: 1792;
}

.phonebk {
  width: 60%;
  height: 50%;
  float: left;
}

#iqoologo {
  height: 100%;
  width: 40%;
  float: right;
}

#topSection {
  height: 1075px;
  width: auto;
}

#img3 {
  margin-top: 28%;
  width: 500px;
  height: 150px;
}

#colab {
  width: 250px;
  margin-top: 10%;
  margin-left: 400px;
}

#headerImg {
  width: 120px;
  margin-left: 150px;
}

header {
  margin-top: 35px;
  display: flex;
  gap: 10%;
}

nav {
  display: flex;
  gap: 50px;
}

.topLinks {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-family: "languageFont", "AvenirNext", "Microsoft YaHei", 微软雅黑,
    "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif, "WebRupee";
  font-weight: 200;
}

.topLinks:hover {
  color: #f0b31c;
}

.features {
  display: flex;
  gap: 50px;
}

#headerImg {
  margin-top: -50px;
}

.secondPart {
  height: 60px;
  padding-top: 20px;
  background-color: white;
  display: flex;
  gap: 54%;
  position: sticky;
  z-index: 1;
  top: 0px;
  z-index: 1;
  opacity: 0.9;
}

.secondPart p {
  margin-left: 9%;
  font-size: 18px;
}

.secondPart nav button {
  margin-top: -10px;
  width: 85px;
  height: 35px;
  font-size: 14px;
  border-radius: 15px;
  color: white;
  background-color: #f0b31c;
  border: 0;
}

.secondPart nav button:hover {
  cursor: pointer;
  background-color: rgba(240, 179, 28, 0.73);
}

.secondPart nav :first-child {
  font-weight: 900;
}

.secondPart nav a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-family: "languageFont", "AvenirNext", "Microsoft YaHei", 微软雅黑,
    "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu, sans-serif, "WebRupee";
  font-weight: 200;
}

.secondPart nav a:hover {
  font-weight: 900;
}

.secondPart nav {
  display: flex;
  gap: 30px;
}

.forservece {
  width: 72px;
  height: 48px;
}

.forservece {
  margin-left: 120px;
  position: fixed;
  z-index: 2;
  margin-top: 30%;
  background-color: #f0b31c;
  border-radius: 25px;
  border: 0;
  width: 72px;
  height: 48px;
}

#customer-care {
  width: 35px;
}

.slide2 {
  position: relative;
  z-index: -1;
  margin-top: -8.7%;
  height: 1792px;
  background-color: black;
}
.productbg {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 450px;
  background-color: white;
  /* transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s ease-in-out;
  margin-top: 50px;
  margin-left: -540px; */
}

.allProducts {
  z-index: 3;
  padding-left: 150px;
  background-color: white;
  border-radius: 45px;
  position: absolute;
  width: 94%;
  height: 450px;
  display: flex;
  gap: 50px;
  margin-top: 50px;
  overflow: scroll;
}

.product:hover .productbg {
  transform: scaleY(1);
}

.card {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  height: 300px;
  width: 300px;
  border-radius: 25px;
  background-color: whitesmoke;
}
.card > img {
  width: 180px;
  height: 180px;
}

.phoneback {
  transition: left 1s ease-in-out;
  position: relative;
  width: 100px;
  height: 190px;
  left: 110px;
  top: -30px;
}

.phone {
  transition: left 1s ease-in-out;
  position: relative;
  top: -27px;
  left: -40px;
}

.card:hover .phoneback {
  left: 90px;
}
.card:hover .phone {
  left: -6px;
}

.card:hover .thirdpic {
  left: 100px;
}

.card:hover .unsualpic {
  left: 60px;
}
.thirdpic {
  left: 176px;
}

.uphone {
  left: -30px;
}

.aboutmodels {
  position: relative;
  z-index: 4;
  left: 40%;
  top: 400px;
}

.aboutmodels > button {
  height: 50px;
  width: 200px;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 0;
  padding: 5px;
}

.aboutmodels > button:first-child {
  position: relative;
  left: 30px;
}

.aboutmodels > button > p {
  display: inline;
  font-size: 18px;
}

#line {
  height: 18px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.232);
  display: inline-block;
  position: relative;
  z-index: 4;
  left: 5px;
}

button:hover {
  color: #f0b31c;
}

button > img {
  margin-top: 7px;
}

button > p {
  margin-top: 5px;
}
